{% extends 'new.html' %} {% load static %}{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">

</head>

<body>
    <div class="baxter">
        <h1 class="heading1 text-center">Our Works</h1>
        <div class=" container text-center ">
            {% for D in shop %}
            <div class="card text-center mx-3 my-3 " style="width: 18rem; display:inline-block ">
                <img src="{{D.image.url}} " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">{{D.Name}}</h5>
                    <p class="card-text ">{{D.brand_name}}</p>
                    <h6>{{x.dep_name}} </h6>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</body>

</html>
{% endblock %}